{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<section class="articles">
    <article>
        {% for article in articles %}
            
        <h2>{{article.title}}</h2>
        <div class="metadata">Ecrit le {{article.createdAt | date('d/m/Y')}} à {{article.createdAt | date('H:i')}} dans la catégorie {{article.category.title}}</div>
        <div class="content">
            <img src="{{ asset('uploads/images/' ~ (article.image ?: 'default-image.jpg')) }}" alt="Description article">
    
            {# {{ dump(article.image) }} #}
            {# filtre slice pour couper l'article ainsi ajouter "lire la suite" pour l'article complet #}
            <p>{{article.content|slice(0,400)}} </p>
    
            <a href="{{path('blog_show', {'id': article.id}) }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>
        
    {% endfor %}
</section>

{% endblock %}
