{% extends "base.html.twig" %}
{% block body %}
<article>
        <h2>{{article.title}}</h2>
        <div class="metadata">Ecrit le {{article.createdAt | date('d/m/Y')}} à {{article.createdAt | date('H:i')}} dans la catégorie {{article.category.title}}</div>

        <div class="content">
                {#chemin image avec concatenation et condition ternaire #}
                <img src="{{ asset('uploads/images/' ~ (article.image ?: 'default-image.jpg')) }}" alt="Description article">
        
                {# {{ dump(article.image) }} #}
                <p>{{article.content}}</p>
        </div>      
</article>  
<section id="commentaires">
        {# nombre de commentaires #}
        <h1> {{article.comments | length }} Commentaires :</h1>
        {% for comment in article.comments %}
                <div class="comment">
                        <div class="row">
                                <div class="col-3">
                                        {{comment.author}} (<small>{{comment.createdAt | date(('d/m/Y à H:i'))}}</small>)
                                </div>

                                <div class="col">
                                        {{comment.content | raw}}
                                <hr>

                                </div>
                        </div>
                        
                </div>
        {% endfor %}

        {% if app.user %}
        {# ou  {% if is_granted('IS_AUTHENTICATED_FULLY') %} #}
        {{ form_start(commentForm) }}
        {{ form_widget(commentForm) }}

    
        <button type="submit" class="btn btn-success">Commenter !</button>
    
        {{ form_end(commentForm) }}

        {% else %}
        <h2> Connectez-vous pour laisser un commentaire !</h2>
        <a href="{{path('security_login')}}" class="btn btn-primary">Connexion</a>

        {% endif %}


</section>

{% endblock body %}